*{
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.h1 {
    margin-left: 20px;
}

.h2 {
    margin: 25px;
}

.h3 {
    margin:50px 25px;
}

.h4 {
    width: 200px;
    margin: 0 auto;
}

.h5 {
    padding-top: 30px;
}

.h6 {
    padding: 50px;
}

.p {
    padding: 25px 50px;
}